@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";


@theme {
  --color-main-background: #dae0e6;
  --color-border-hover: #edeff1;
  --color-border-focus: #47b0db;
  --color-primary-text: #1c1c1c;
  --color-search-background: #E5EBEE;
  --color-search-hover: #e1e4e6;
  --color-search-text: #878a8c;
  --color-karma: #a8aaab;
  --color-sawwit-blue: #318CE7;
  --color-sawwit-blue-dark: #2770b8;
  --color-sawwit-secondary: #FF5700;
  --color-sawwit-secondary-hover: #FF6227;
  --color-profile-dropdown-gray: #787c7e;
  --color-component-border: #d2d2d2;
  --color-nocommunities: #e5e9ed;
  --color-nocommunities-border: #d6d9dd;
  --color-home: #9fa1a3;
  --color-error: #ff1f1f;
}